<!DOCTYPE html>
<html lang="en">

{% load static %}
 
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>VUICA - Equipos de Protección Personal y Manufactura de Uniformes</title>
  <meta content="Manufactura y venta de uniformes para el sector industrial y equipos de protección personal (EPPs). Distribuidor Autorizado 3M." name="description">
  <meta content="Productos de Seguridad Industrial, Segurad Personal, Productos de Seguridad Industrial Venezuela, Seguridad Industrial Venezuela, Botas de Seguridad, Cascos, Guantes de Seguridad, Lentes de Seguridad, Seguridad industrial, Caracas, Maracay, Cagua, Miranda, Aragua, Venezuela, Tapones de Seguridad, Auriculares de Protección, Protección Personal, Equipos de Soldar, Uniformes, Cofección de Uniformes, Gafas de Seguridad, Mascarillas, Tapa Bocas, Respiradores, Filtros de Respirador, 3M, Al Mayor, Detal" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/favicon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/icofont/icofont.min.css" rel="stylesheet">
  <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="assets/vendor/venobox/venobox.css" rel="stylesheet">
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Vesperr - v2.0.0
  * Template URL: https://bootstrapmade.com/vesperr-free-bootstrap-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>
   <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-53HVR24"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center">

      <div class="logo mr-auto">
        <!-- Uncomment below if you prefer to use an image logo -->
        <a href=""><img src="assets/img/LOGO.png" alt="Logo Vuica" class="img-fluid"></a>
      </div>

      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li class="active"><a href="#header">Inicio</a></li>
          <li><a href="#about">Nosotros</a></li>
          <li><a href="products">Productos</a></li>
          <li><a href="#services">Servicios</a></li>
 

          <li class="get-started"><a href="#contact">Contáctenos</a></li>
        </ul>
      </nav><!-- .nav-menu -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section =======-->
  <section class="hero-image">
    <div class="hero-text">
      <h2>Al Mayor & Detal</h2>
      <h1>Productos de Seguridad Industrial & Uniformes</h1>
      <br>
      <a href="products" class="btn-get-started scrollto"> Catálogo</a>
    </div>
  </section>

  <!-- End Hero -->


  <main id="main">

    
  <!-- ======= Counts Section ======= -->
    <section id="counts" class="counts">
      <div class="container">

        <div class="row">
          <div class="image col-sm-7 mx-auto d-block " data-aos="fade-right" data-aos-delay="150">
            <img src="assets/img/32 años.png" alt="32 Años">
          </div>

          <div class="col-sm-5 d-flex align-items-center pt-4 pt-sm-0" data-aos="fade-left" data-aos-delay="300">
            <div class="content d-flex flex-column justify-content-center">
              <div class="row">

                <div class="col-sm-6 d-sm-flex align-items-sm-stretch">
                  <div class="count-box">
                    <i class="icofont-clock-time"></i>
                    <span data-toggle="counter-up">32</span>
                    <p><strong>Años De Experiencia</strong> en la industria de la seguridad personal y equipos de seguridad.</p>
                  </div>
                </div>

                 <div class="col-sm-6 d-sm-flex align-items-sm-stretch">
                  <div class="count-box">
                    <i class="icofont-document-folder"></i>
                    <span data-toggle="counter-up">200</span>
                    <p><strong>Productos En Catálogo</strong> para cualquier sector insdutrial y trabajo que deba realizar.<strong> Seguridad Primero</strong></p>
                  </div>
                </div>

              </div>
            </div><!-- End .content-->
          </div>
        </div>

      </div>
    </section><!-- End Counts Section -->

    <!-- ======= Services Section ======= -->
    <section id="services" class="services" >
      <div class="container" >

        <div class="section-title" data-aos="fade-up">
          <h2>Servicios</h2>
        </div>

        <div class="row">
          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" >
            <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
              <div class="icon"><i class="icofont-holding-hands"></i></div>
              <h4 class="title">Atención Especializada</h4>
              <p class="description">Registros detallados e historiales de cada uno de nuestros clientes nos permiten prestar el mejor servicio de forma consistente en cada oportunidad.</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
              <div class="icon"><i class="bx bx-file"></i></div>
              <h4 class="title">Asesoría Profesional</h4>
              <p class="description">Calificada en la industria de la seguridad para asesorar las necesidades de cada empresa por sector y por individual.</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="300">
              <div class="icon"><i class="bx bx-tachometer"></i></div>
              <h4 class="title">Respuesta Rápida</h4>
              <p class="description">Atentamente trabajamos para a contestar a todos sus consultas y requerimientos en el menor tiempo posible para no afectar sus tiempos de producción.</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="400">
              <div class="icon"><i class="bx bx-world"></i></div>
              <h4 class="title">Entregas Nacionales</h4>
              <p class="description">La distancia no es problema. Nos encargamos cargo de hacerle llegar los productos en donde sea que se se encuentre.</p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Services Section -->

    <!-- ======= Productos Section ======= -->
    <section id="features" class="features">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Productos </h2>
          <p>Consulte nuestro catálogo</p>
        </div>

        <div class="row" data-aos="fade-up" data-aos-delay="300">
          <div class="col-lg-3 col-md-4">
            <div class="icon-box">
              <i class="icofont-wind" style= "color:black;"></i>
              <h3><a href="products">Protección Respiratoria</a></h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4 mt-md-0">
            <div class="icon-box">
              <i class="icofont-headphone-alt-1" style= "color:black;"></i>
              <h3><a href="products">Protección Auditiva</a></h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4 mt-md-0">
            <div class="icon-box">
              <i class="icofont-boot-alt-2" style= "color:black;"></i>
              <h3><a href="products">Calzados</a></h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4 mt-lg-0">
            <div class="icon-box">
              <i class="icofont-hand" style= "color:black;"></i>
              <h3><a href="products">Guantes</a></h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4">
            <div class="icon-box">
              <i class="icofont-man-in-glasses" style= "color:black;"></i>
              <h3><a href="products">Protección Ojos, Cara y Cabeza</a></h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4">
            <div class="icon-box">
              <i class="ri-shirt-fill" style= "color:black;"></i>
              <h3><a href="products">Vestuarios</a></h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4">
            <div class="icon-box">
              <i class="ri-walk-fill" style= "color:black;"></i>
              <h3><a href="products">Ergonomía y Anti-Resbalantes</a></h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4">
            <div class="icon-box">
              <i class="icofont-direction-sign" style= "color:black;"></i>
              <h3><a href="products">Señalización</a></h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4">
            <div class="icon-box">
              <i class="icofont-first-aid" style= "color:black;"></i>
              <h3><a href="products">Primeros Auxilios</a></h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4">
            <div class="icon-box">
              <i class="ri-water-flash-fill" style= "color:black;"></i>
              <h3><a href="products">Absorbentes y Paños</a></h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4">
            <div class="icon-box">
              <i class="icofont-glue-oil" style= "color:black;"></i>
              <h3><a href="products">Adhesivos, Cintas de Empaque y Tapes</a></h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4">
            <div class="icon-box">
              <i class="icofont-box" style= "color:black;"></i>
              <h3><a href="products">Alamacenaje y Carga</a></h3>
            </div>
          </div>
        </div>
      </div>
      <br>
	<a href= "https://www.3m.com.es/3M/es_ES/worker-health-safety-es/safety-solutions/industry-solutions/">
		<img src= "assets/img/3M.png" alt="Distribuidor Autorizado 3M" data-aos="fade-left" data-aos-delay="300">
	</a>
    
    </section><!-- End Features Section -->

    <!-- ======= Uniformes Section =======-->
    <section id="more-services" class="more-services">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Uniformes</h2>
        </div>

        <div class="row-cols-fluid-1">
          <div class="col-fluid d-flex ">
            <div class="card" style='background-image: url("assets/img/shutterstock_111119858.jpg");' data-aos="fade-up" data-aos-delay="100">
              <div class="card-body">
                <h5 class="card-title"><a href="#contact">Diseño, Manufatura y Bordado/Estampado</a></h5>
                <p class="card-text" style="text-align: center;">Diseñe los uniformes de su empresa de pies a cabeza con nuestro catálogo de telas, estilizados a su gusto, con los requerimientos de la industria en que se desenvuelve. <b>Hecho a la medida.</b> Comuníquese con nosotros para más detalles.</p> 
                <!--
                <div class="read-more"><a href="#"><i class="icofont-arrow-right"></i> Read More</a></div>
                -->
            </div>
          </div>
          
      </div> 
            
    </section> <!--End More Services Section -->


    <!-- ======= About Us Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Nosotros</h2>
        </div>

        <div class="row content">
          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="150">
            <p>
              La empresa Venezolana de Uniformes Industriales VUICA, C.A. se fundó en 1988 y tiene como actividad principal la manufactura de uniformes para el sector industrial y la 
              venta de equipos de protección personal al mayor.

            </p>
            <ul>

              <li><i class="ri-check-double-line"></i><b>Ética:</b> Todas nuestras acciones están orientadas a lograr la continuidad de la
                organización</li>
              <li><i class="ri-check-double-line"></i><b>Honestidad:</b> Cumplimos con las normas, respetamos los códigos morales
                establecidos. Asumimos las consecuencias de nuestros actos.</li>
              <li><i class="ri-check-double-line"></i><b>Respeto Mutuo:</b> Valoramos y somos conscientes del aporte individual de cada
                miembro de la organización.</li>
              <li><i class="ri-check-double-line"></i><b>Comunicación:</b> Transmitimos inquietudes, deseos y necesidades a través del
                diálogo abierto.</li>
              <li><i class="ri-check-double-line"></i><b>Compromiso:</b> Conocemos nuestras obligaciones y hacemos lo que esté a
                nuestro alcance para cumplir con ellas.</li>
              <li><i class="ri-check-double-line"></i><b>Eficiencia:</b> Buscamos obtener los resultados deseados haciendo el mejor uso
                de los recursos disponibles.</li>
              <li><i class="ri-check-double-line"></i><b>Orientación al cliente:</b> Concentramos nuestro esfuerzo en ofrecer soluciones a
                nuestros clientes de manera oportuna; manteniendo los niveles de calidad exigidos en cada caso.</li>
    
            </ul>
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0" data-aos="fade-up" data-aos-delay="300">
            <p>
              Somos una empresa especializada en la distribución de equipos y manufacturas de protección personal, brindando un servicio integral a nuestros
              clientes en todas las fases de la relación comercial; siempre orientados a la máxima satisfacción de sus necesidades en un marco de compromiso y respeto
              mutuo. 
            </p>
            <p>
              Nuestra visión es ser el mejor proveedor a nivel nacional de equipos y manufacturas de protección personal, reconocido y elegido por ofrecer a nuestros clientes
              soluciones integrales; caracterizada por el conocimiento, trato responsable, eficiente y oportuno; asegurando el crecimiento continuo y sostenido de la
              organización
            </p>

            <!-- LEARN MORE BUTTON
            <a href="#" class="btn-learn-more">Learn More</a>
            -->
            <img src="assets/img/P1010019.JPG" alt="Foto de Frente Vuica">
          </div>
        </div>

      </div>
    </section><!-- End About Us Section -->




    <!-- ======= F.A.Q Section ======= -->
    <section id="faq" class="faq">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Preguntas Frecuentes</h2>
        </div>

        <div class="row faq-item d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
          <div class="col-lg-5">
            <i class="ri-question-line"></i>
            <h4>¿Cuánto tiempo dura un respirador?</h4>
          </div>
          <div class="col-lg-7">
            <p>
              Un respirador de libre mantenimiento no necesariamente debe ser desechado por usarlo una vez (aunque se llame respirador desechable) y su duración dependerá de distintos factores: Vida útil: los respiradores tienen fecha de vencimiento, 
              ya que los componentes del mismo se pueden degradar. Nivel de exposición: el tipo y cantidad del contaminante, así como el ambiente o área en la cual se utilice el respirador, es fundamental para determinar su duración. Lo ideal es contar 
              con un estudio del nivel de concentración del contaminante, pero ya que esto no siempre es posible, con determinar a qué se está expuesto y teniendo el respirador adecuado será suficiente. 
              Tiempo de exposición: si se tiene a la mano la concentración ambiental del contaminante, se puede estimar cuánto podría ser el tiempo de duración del respirador por horas en uso. De lo contrario, en la práctica es posible determinar cuándo debe ser desechado, ya que el medio filtrante eventualmente se obstruirá o saturará y 
              el usuario sentirá la necesidad de reemplazarlo. Frecuencia respiratoria: es intuitivo pensar que un usuario que esté desarrollando una actividad que requiera un esfuerzo aeróbico, no respirará el mismo número de veces que otro que esté 
              realizando una actividad sentado. De igual forma, en esto influye la edad, el peso e incluso si cuenta con afecciones respiratorias.Cuidado y almacenamiento: la mayoría de las veces, los respiradores se deterioran mucho más rápido en sus medios filtrantes externos. Para esto, nuestras recomendaciones son las siguientes:
               1. Tomar el respirador y sus ligas con las manos limpias y secas, libres de cualquier sustancia. 
               2. Una vez en uso, manipularlo o tocarlo lo menos posible, ya que esto facilita la entrada de contaminantes a los tractos respiratorios y acelera su deterioro. 
               3. Guardarlo en un lugar limpio y seco, preferiblemente en una bolsa plástica si el respirador está libre de humedad.
            </p>
          </div>
        </div><!-- End F.A.Q Item-->

        <div class="row faq-item d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
          <div class="col-lg-5">
            <i class="ri-question-line"></i>
            <h4>¿Puedo comprar directamente a través de la página o debo contactarlos?</h4>
          </div>
          <div class="col-lg-7">
            <p>
              Por los momentos no contamos con un sistema de compras online, por ende deberá contactar directamente con uno de nuestros asesores para adquirir los productos que desee. En el futuro contaremos con un sistema de compras online para facilitar el proceso a nuestros clientes.
            </p>
          </div>
        </div><!-- End F.A.Q Item-->

        <div class="row faq-item d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
          <div class="col-lg-5">
            <i class="ri-question-line"></i>
            <h4>¿Cual es la diferencia entre un respirador y un tapaboca?</h4>
          </div>
          <div class="col-lg-7">
            <p>
              Si bien los respiradores desechables tienen un aspecto similar a las mascarillas de uso médico o quirúrgico, estas están diseñadas para propósitos muy diferentes.
              En primer lugar, los dos tipos de protección difieren en cuanto a su función. Las mascarillas de uso quirúrgico están hechas principalmente para evitar que las partículas que exhala quien las usa, por ejemplo, saliva o mucosidad, contaminen el entorno de trabajo. Los respiradores, por el contrario, protegen al usuario de partículas potencialmente peligrosas que se generan en el entorno de trabajo.
              Los dos tipos de mascarillas también se ajustan de manera diferente. Los respiradores se ajustan herméticamente al rostro, mientras que las mascarillas de uso quirúrgico quedan más flojas. Los respiradores incluyen un filtro específico, mientras que las mascarillas de uso quirúrgico normalmente no lo incluyen. También difieren en cuanto al tiempo de desgaste y ciertas normas regulatorias.
            </p>
          </div>
        </div><!-- End F.A.Q Item-->


      </div>
    </section><!-- End F.A.Q Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Contacto</h2>
        </div>

        <div class="row">

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100" >
          
            <div class="contact-about">
               
              <div class="social-links">
                <a href="https://twitter.com/VUICA_C_A" class="twitter"><i class="icofont-twitter"></i></a>
                <a href="https://www.facebook.com/VUICA.1988/" class="facebook"><i class="icofont-facebook"></i></a>
                <a href="https://www.instagram.com/vuica_c_a/" class="instagram"><i class="icofont-instagram"></i></a>
                <a href="https://my.linkedin.com/company/venezolana-de-uniformes-industriales-vuica-c-a?trk=similar-pages_result-card_full-click" class="linkedin"><i class="icofont-linkedin"></i></a>
              </div>
              <img src="assets/img/logo_completo.png" alt="Logo vuica" style="height: 120px; width: 300px; padding-left: 50px; margin-bottom: 20px">

              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d981.7316480941295!2d-67.45213065544962!3d10.186616904013261!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e8021651ab52ca1%3A0x6da23a6ce4389145!2sVENEZOLANA%20DE%20UNIFORMES%20INDUSTRIALES%20VUICA%2C%20C.A.!5e0!3m2!1ses!2sve!4v1598385184641!5m2!1ses!2sve" 
              width="300" height="250" frameborder="0" style="border:0; display: block; margin-left:auto; margin-right:auto; padding-top: 20px; padding-bottom:10px; " allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>

            </div>

          </div>

          <div class="col-lg-3 col-md-6 mt-4 mt-md-0" data-aos="fade-up" data-aos-delay="200">
            <div class="info">
              <div>
                <i class="ri-map-pin-line"></i>
                <p>Carretera Nacional Cagua / Villa de Cura, Edif. Fátima, piso PB, local 1. Urb. Francisco de Miranda.<br> Cagua, Edo. Aragua. Venezuela. Zona Postal 2122.</p>
              </div>

              <div>
                <i class="ri-mail-send-line"></i>
                <p>ventasvuica@gmail.com</p>
              </div>

              <div>
                <i class="ri-phone-line"></i>
                <p>(0244)447.19.89 / (0244)447.86.42 / (0244)395.97.44 / (0244)395.55.00/ Fax.:(0244)395.70.90</p>
              </div>

            </div>
          </div>

          <div class="col-lg-5 col-md-12" data-aos="fade-up" data-aos-delay="300">
            <form action="#contact" method="post" role="form" class="php-email-form">
               {% csrf_token %} 
              <div class="form-group">
                <input type="text" name="name" class="form-control" id="name" placeholder="Nombre" data-rule="minlen:4" data-msg="Por favor introduzca al menos 4 caracteres" />
                <div class="validate"></div>
              </div>
              <div class="form-group">
                <input type="text" name="last_name" class="form-control" id="last_name" placeholder="Apellido" data-rule="minlen:4" data-msg="Por favor introduzca al menos 4 caracteres" />
                <div class="validate"></div>
              </div>
              <div class="form-group">
                <input type="text" name="empresa" class="form-control" id="empresa" placeholder="Empresa" data-rule="minlen:4" data-msg="Por favor introduzca al menos 4 caracteres" />
                <div class="validate"></div>
              </div>
              <div class="form-group">
                <input type="email" class="form-control" name="email" id="email" placeholder="E-mail" data-rule="email" data-msg="Por favor introduzca un e-mail válido" />
                <div class="validate"></div>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Sujeto" data-rule="minlen:4" data-msg="Por favor introduzca al menos 8 carateres" />
                <div class="validate"></div>
              </div>
              <div class="form-group">
                <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Por favor escriba aquí su mensaje" placeholder="Mensaje"></textarea>
                <div class="validate"></div>
              </div>
              <div class="form-group">
                <div id="captchap" class="g-recaptcha" data-sitekey="6LcBHZAaAAAAAEj_vn4_NEFIlynr_v0v3LUSstPJ" data-rule="required" data-msg="Compruebe que no es un robot"></div>
                <div class="validate"></div>
              </div>
              <div class="mb-3">
                <div class="loading">Cargando</div>
                <div class="error-message"></div>
                <div class="sent-message">Su mensaje ha sido enviado. Gracias! Lo estaremos revisando en breve</div>
              </div>
              <div class="text-center"><button type="submit">Enviar Mensaje</button></div>
            </form>
          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <div class="row d-flex align-items-center">
        <div class="col-lg-6 text-lg-left text-center">
          <div class="copyright">
            &copy; Copyright <strong>Vesperr</strong>. All Rights Reserved
          </div>
          <div class="credits">
            <!-- All the links in the footer should remain intact. -->
            <!-- You can delete the links only if you purchased the pro version. -->
            <!-- Licensing information: https://bootstrapmade.com/license/ -->
            <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/vesperr-free-bootstrap-template/ -->
            Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a> Modded to bussiness by Andrés C.	
          </div>
        </div>
        <div class="col-lg-6">
          <nav class="footer-links text-lg-right text-center pt-2 pt-lg-0">
            <a href="#intro" class="scrollto">Home</a>
            <a href="#about" class="scrollto">About</a>
            <a href="#">Privacy Policy</a>
            <a href="#">Terms of Use</a>
          </nav>
        </div>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/jquery/jquery.min.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/jquery.easing/jquery.easing.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>
  <script src="assets/vendor/waypoints/jquery.waypoints.min.js"></script>
  <script src="assets/vendor/counterup/counterup.min.js"></script>
  <script src="assets/vendor/owl.carousel/owl.carousel.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/venobox/venobox.min.js"></script>
  <script src="assets/vendor/aos/aos.js"></script>
  <script src="https://www.google.com/recaptcha/api.js" async defer></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>
  <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-105302322-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-105302322-1');
</script>
	
</body>

</html>
