<!DOCTYPE html>
<html lang="en">

{% load static %}
 
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>VUICA - Equipos de Protección Personal y Manufactura de Unformes</title>
  <meta content="Manufactura y venta de uniformes para el sector industrial y equipos de protección personal (EPPs). Distribuidor autorizado 3M" name="descriptison">
  <meta content="Productos de Seguridad Industrial, Segurad Personal, Productos de Seguridad Industrial Venezuela, Seguridad Industrial Venezuela, Botas de Seguridad, Cascos, Guantes de Seguridad, Lentes de Seguridad, Seguridad industrial, Caracas, Maracay, Cagua, Miranda, Aragua, Venezuela, Tapones de Seguridad, Auriculares de Protección, Protección Personal, Equipos de Soldar, Uniformes, Cofección de Uniformes, Gafas de Seguridad, Mascarillas, Tapa Bocas, Respiradores, Filtros de Respirador, 3M, Al Mayor, Detal" name="keywords">

  <!-- Favicons -->
  <link href="{% static  'img/favicon.png' %}" rel="icon">
  <link href="{% static  'img/favicon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static  'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static  'vendor/icofont/icofont.min.css' %}" rel="stylesheet">
  <link href="{% static  'vendor/remixicon/remixicon.css' %}" rel="stylesheet">
  <link href="{% static  'vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static  'vendor/owl.carousel/owl.carousel.min.css' %}" rel="stylesheet">
  <link href="{% static  'vendor/venobox/venobox.css' %}" rel="stylesheet">
  <link href="{% static  'vendor/aos/aos.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static  'css/style.css' %}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Vesperr - v2.0.0
  * Template URL: https://bootstrapmade.com/vesperr-free-bootstrap-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center">

      <div class="logo mr-auto">
        <!-- Uncomment below if you prefer to use an image logo -->
        <a href={% url 'Homepage:Home' %}><img src="{% static  'img/LOGO.png' %}" alt="Logo Vuica" class="img-fluid"></a>
      </div>

      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li class="active"><a href={% url 'Homepage:Home' %}>Inicio</a></li>
          <li><a href={% url 'Homepage:Home' %}>Nosotros</a></li>
          <li><a href="#">Productos</a></li>
          <li><a href={% url 'Homepage:Home' %}>Servicios</a></li>
          

          <li class="get-started"><a href="#contact">Contáctenos</a></li>
        </ul>
      </nav><!-- .nav-menu -->

    </div>
  </header><!-- End Header -->




  <main id="main">

     <!-- ======= Breadcrumbs ======= -->
     <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Productos</h2>
          <ol>
            <li><a href="#">Productos</a></li>
            <li>Detalles</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs -->



    <!-- ======= Portfolio Section ======= -->
    {% block product_list %}

    <section id="portfolio" class="portfolio">
      <div class="container">

        <div class="row" data-aos="fade-up" data-aos-delay="200">
          <div class="col-lg-12 d-flex justify-content-center">
            <ul id="portfolio-flters">
              <li data-filter="*" class="filter-active">Todos</li>
              <li data-filter=".filter-respiratoria">Protección Respitratoria</li>
              <li data-filter=".filter-guantes">Guantes</li>
              <li data-filter=".filter-calzado">Calzado</li>
              <li data-filter=".filter-auditiva">Protección Auditiva</li>
              <li data-filter=".filter-cabeza">Protección Ojos, Cara y Cabeza</li>
              <li data-filter=".filter-vestuario">Vestuarios</li>
              <li data-filter=".filter-señalizacion">Señalización</li>
              <li data-filter=".filter-ergonomia">Ergonomía y Protección Anti-Caídas</li>
              <li data-filter=".filter-absorbentes">Absorbentes y Paños</li>
              <li data-filter=".filter-auxilios">Primeros Auxílios</li>
              <li data-filter=".filter-adhesivos">Cintas y Tapes</li>
            </ul>
          </div>
        </div>


          <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="400">
            {% for Product in productos %}
              <a href="{{ Product.Codigo }}">
                <div class="col-lg-4 col-md-6 portfolio-item filter-{{ Product.Tipo }}" >
                  
                  <div class="portfolio-wrap">
                    
                  
                      <img src= "{{ MEDIA_URL}}{{ Product.Imagen }}" class="img-fluid" alt="{{ Product.Nombre }}">
                    
                    <div class="portfolio-info">
                      <h4>{{ Product.Nombre }}</h4>
                      <p>{{ Product.Codigo }}</p>
                      <div class="portfolio-links">
                        <a href= "{{ MEDIA_URL}}{{ Product.Imagen }}" data-gall="portfolioGallery" class="venobox" title={{ Product.Nombre }}><i class="bx bx-plus"></i></a> 
                      </div>
                    </div>
                  </div>    
                </div>
              </a>

            {% endfor %}

        </div>
        

      </div>
    </section><!-- End Portfolio Section -->

    {% endblock %}


    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Contácto</h2>
        </div>

        <div class="row">

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100" >
            <div class="contact-about">
               
              <div class="social-links">
                 <a href="https://twitter.com/VUICA_C_A" class="twitter"><i class="icofont-twitter"></i></a>
                <a href="https://www.facebook.com/VUICA.1988/" class="facebook"><i class="icofont-facebook"></i></a>
                <a href="https://www.instagram.com/vuica_c_a/" class="instagram"><i class="icofont-instagram"></i></a>
                <a href="https://my.linkedin.com/company/venezolana-de-uniformes-industriales-vuica-c-a?trk=similar-pages_result-card_full-click" class="linkedin"><i class="icofont-linkedin"></i></a>
              </div>
              <img src="{% static 'img/logo_completo.png' %}" alt="Logo vuica" style="height: 120px; width: 300px; padding-left: 50px; margin-bottom: 20px">
          
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-4 mt-md-0" data-aos="fade-up" data-aos-delay="200">
            <div class="info">
              <div>
                <i class="ri-map-pin-line"></i>
                <p>Carretera Nacional Cagua / Villa de Cura, Edif. Fátima, piso PB, local 1. Urb. Francisco de Miranda.<br> Cagua, Edo. Aragua. Venezuela. Zona Postal 2122.</p>
              </div>

              <div>
                <i class="ri-mail-send-line"></i>
                <p>ventas@vuica.com.ve</p>
                <p>ventasvuica@gmail.com</p>
              </div>

              <div>
                <i class="ri-phone-line"></i>
                <p>(0244)447.19.89 / (0244)447.86.42 / (0244)395.97.44 / (0244)395.55.00/ Fax.:(0244)395.70.90</p>
              </div>

            </div>
          </div>

          <div class="col-lg-5 col-md-12" data-aos="fade-up" data-aos-delay="300">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d981.7316480941295!2d-67.45213065544962!3d10.186616904013261!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e8021651ab52ca1%3A0x6da23a6ce4389145!2sVENEZOLANA%20DE%20UNIFORMES%20INDUSTRIALES%20VUICA%2C%20C.A.!5e0!3m2!1ses!2sve!4v1598385184641!5m2!1ses!2sve"
              width="300" height="250" frameborder="0" style="border:0; display: block; margin-left:auto; margin-right:auto; padding-top: 20px; padding-bottom:10px; " allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>

        </div>
      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <div class="row d-flex align-items-center">
        <div class="col-lg-6 text-lg-left text-center">
          <div class="copyright">
            &copy; Copyright <strong>Vesperr</strong>. All Rights Reserved
          </div>
          <div class="credits">
            <!-- All the links in the footer should remain intact. -->
            <!-- You can delete the links only if you purchased the pro version. -->
            <!-- Licensing information: https://bootstrapmade.com/license/ -->
            <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/vesperr-free-bootstrap-template/ -->
            Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
          </div>
        </div>
        <div class="col-lg-6">
          <nav class="footer-links text-lg-right text-center pt-2 pt-lg-0">
            <a href="#intro" class="scrollto">Home</a>
            <a href="#about" class="scrollto">About</a>
            <a href="#">Privacy Policy</a>
            <a href="#">Terms of Use</a>
          </nav>
        </div>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static  'vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static  'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static  'vendor/jquery.easing/jquery.easing.min.js' %}"></script>
  <script src="{% static  'vendor/php-email-form/validate.js' %}"></script>
  <script src="{% static  'vendor/waypoints/jquery.waypoints.min.js' %}"></script>
  <script src="{% static  'vendor/counterup/counterup.min.js' %}"></script>
  <script src="{% static  'vendor/owl.carousel/owl.carousel.min.js' %}"></script>
  <script src="{% static  'vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static  'vendor/venobox/venobox.min.js' %}"></script>
  <script src="{% static  'vendor/aos/aos.js' %}"></script>
  
  <!-- Template Main JS File -->
  <script src="{% static  'js/main.js' %}"></script>
  <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-105302322-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-105302322-1');
</script>

</body>

</html>
